<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/sytles.css" />
</head>
<body>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
    <h1>McKenna Rogers</h1>
    <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Pickle Ball</li>
    <li>Reading</li>
    <li>Watching Movies</li>
    <li>Watching Hockey</li>
    
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS</li>
    <li>Extract, Transform and Load</li>
    <li>SQL</li>
    <li>Python</li>
  </ul>
  <p class="head">Education</p>
  <ul>
      <li>Stansbury High School</li>
    </a>
    <!--Link-->
      <li>Utah State University</li>
    </a>
    
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Analytics Solution Center</li>
    <li>Intermountain Healthcare</li>
    <li>USU Analytics Teaching Fellow</li>
    <li>USU Residence Life</li>
    <li>USU Master of Human Resources Dept.</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Women in Tech</li>
    <li>Women in Business Association</li>
    <li>Association for Information Systems</li>
    <li>Covey Leadership Fellows</li>
    <li>Women in Athletics </li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">McKenna Rogers</h2><div>
</body>
</html>