<h1>Hello! Here is a website to get to know me.</h1>
<h5>Learn more about me: </h5>
<a href="/about">My Bio</a>
<br>
<h4>Learn more about the University I attend: </h4>
<a href= "https://www.usu.edu/">Utah State University</a>
<br>
<h4>Learn more about the Analytics Solution Center: </h4>
<a href= "https://huntsman.usu.edu/asc/index">Analytics Solution Center</a>
<br>
<h4>Learn more about Intermountain Healthcare: </h4>
<a href= "https://intermountainhealthcare.org/">Intermountain Healthcare</a>
<h7>{{ the_date }}</h7>
