<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
    <h1>Hello! Here is a website to get to know me.</h1>
    <h4>Learn more about me: </h4>
    <a href="/about" target="_blank">My Resume</a>
    <br>
    <h4>Learn more about the University I attend: </h4>
    <a href= "https://www.usu.edu/" target="_blank">Utah State University</a>
    <br>
    <h4>Learn more about the Analytics Solution Center: </h4>
    <a href= "https://huntsman.usu.edu/asc/index" target="_blank">Analytics Solution Center</a>
    <br>
    <h4>Learn more about Intermountain Healthcare: </h4>
    <a href= "https://intermountainhealthcare.org/" target="blank">Intermountain Healthcare</a>
    <br>
    <h7>{{ the_date }}</h7>
<div>
<div class="right"></div>
<div id="footer">
    <h2 id="name">McKenna Rogers</h2><div>
</body>
</html>



